*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-heading: "Oswald", sans-serif;
  --main-font: "Roboto Slab", serif;
  --secondary-font: "Lato", sans-serif;
}

.body {
  background-color: white;
}

.title-wrapper {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(218, 197, 238);
}


.episode-count-wrapper {
  width: 90%;
  text-align: center;
  margin: 0.5rem auto;
}

.episode-count-para {
  margin-bottom: 1rem;
  font-family: var(--main-heading);
  font-size: 4em;
}

.tv-maze-wrapper {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: center;
}

.tv-maze-link {
  text-decoration: none;
  color: darkgrey;
  position: relative;
  padding: 00.2rem; 
}

.tv-maze-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: darkorchid;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms ease-in;
}

.tv-maze-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.search-bar-wrapper {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 2rem;
  margin: 0.5rem auto;
}

.search-input {
  padding: 0.5rem;
  width: 50%;
  border-radius: 3px;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  height: auto;
  width: 90%;
  background-color: #ecf0f1;
  padding: 1.5rem;
}

.card {
  height:  auto;
  width: 23%;
  min-width: 240px;
  margin-bottom: 2rem;
  border-radius: 4px;
  background-color: white;
  border: 1px solid black;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}

.img-wrapper {
  height: 10rem;
  border-radius: 4px;
}

.images {
  height: 100%;
  width: 100%;
}

.card-header {
  padding: 0.7rem;
  background-color: #f6f6f5;
  text-align: center;
  font-family: var(--main-font);
  border-bottom: 1px solid black;
  margin-bottom: 0.7rem;
}

.card-paragraph-wrapper {
  margin-top: 0.5rem;
  font-family: var(--secondary-font);
  font-weight: bolder;
  width: 95%;
  margin: 0.2rem auto;
  text-align: center;
}
