* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-font: "Oswald', sans-serif";
  --secondary-font: 'Roboto Slab', serif;
}

.body {
 background-color: white;
}

.title-wrapper {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(218, 197, 238);
}

.episode-count-wrapper {
  width: 85%;
  text-align: center;
  margin: 1rem auto;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 1rem;
  height: auto;
  width: 85%;
  background-color: #e7eaf6 ;
  padding: 1.5rem;
}

.card {
  height: 540px;
  width: 28%;
  min-width: 240px;
  margin-bottom: 2rem;
  border-radius: 4px;
  background-color: white;
  border: 1px solid black;
}

.img-wrapper {
  height: 40%;
  border-radius: 4px;
}

.images {
  height: 100%;
  width: 100%;
  
}

.card-header {
  padding: 0.7rem;
  background-color: #F6F6F5;
  text-align: center;
  font-family: var(--main-font);
  border: 1px solid black;
}

.card-paragraph-wrapper {
  margin-top: 0.2rem;
  font-family: var(--secondary-font);
  font-weight: bolder;
  width:  95%;
  margin: 0.2rem auto;
  text-align: center;
  border: 1px solid yellow;
}