/***** GLOBAL STYLES *****/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-heading: "Oswald", sans-serif;
  --main-font: "Rosarivo", serif;
  --secondary-font: "Rosarivo", serif;
}

.body {
  background-color: white;
}

/***** PROJECT TITLE *****/
.title-wrapper {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(218, 197, 238);
}

/***** SHOW TITLE *****/
.show-title-wrapper {
  width: 90%;
  text-align: center;
  margin: 0.5rem auto;
}

.show-title {
  margin-bottom: 0.5rem;
  font-family: var(--main-heading);
  font-size: 4em;
}

/***** TV-MAZE LINK *****/
.tv-maze-wrapper {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: center;
}

.tv-maze-link {
  text-decoration: none;
  color: darkgrey;
  position: relative;
  padding: 00.2rem;
}

.tv-maze-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: darkorchid;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms ease-in;
}

.tv-maze-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/***** SEARCH AREA WRAPPER *****/
.search-bar-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: 0.5rem auto;
}

/***** DROPDOWN SELECTION *****/
.dropdown-form {
  flex-grow: 1;
  min-width: 360px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.dropdown-selector {
  width: 100%;
  padding: 0.6em;
  border-radius: 5px;
  height: 2.4rem;
}

/***** SEARCH BAR *****/
.search-input {
  padding: 0.4rem;
  flex-grow: 1;
  min-width: 360px;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

/***** EPISODE COUNTER *****/
.counter-wrapper {
  flex-grow: 1;
  min-width: 260px;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  border: 1px solid black;
}

.counter-heading {
  text-align: center;
  font-family: var(--main-heading);
}

/***** CARDS WRAPPER *****/
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  height: auto;
  width: 90%;
  background-color: #ecf0f1;
  padding: 1.5rem;
}

/***** CARDS *****/
.card {
  height: auto;
  width: 20%;
  min-width: 240px;
  margin-bottom: 2rem;
  border-radius: 4px;
  background-color: white;
  border: 1px solid black;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}

.img-wrapper {
  height: 8rem;
  border-radius: 4px;
}

.images {
  height: 100%;
  width: 100%;
}

.card-header {
  padding: 0.7rem;
  background-color: #f6f6f5;
  text-align: center;
  font-family: var(--main-font);
  font-weight: bolder;
  border-bottom: 1px solid black;
  margin-bottom: 0.7rem;
}

.card-paragraph-wrapper {
  margin-top: 0.5rem;
  font-family: var(--secondary-font);
  font-weight: bolder;
  width: 95%;
  margin: 0.2rem auto;
  text-align: center;
}

/***** MEDIA QUERIES *****/
@media screen and (max-width: 760px) {
  .dropdown-form {
    margin-right: 0rem;
  }
}

@media screen and (max-width: 760px) {
  /***** EPISODE COUNTER *****/
  .counter-wrapper {
    margin-left: 0rem;
  }
}
